{% extends 'rootpage.html' %}
{%load static%}


{% block content %}


<head>
    <link rel="stylesheet" href="{% static 'css/userprofile.css' %}" />

</head>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>



<!-- Header -->

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">Enter password to proceed:</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form method="post">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-username">Password</label>

                                            <input type="text" name="password" id="input-username"
                                                class="form-control form-control-alternative"
                                                placeholder="Enter Password... ">
                                        </div>
                                </div>
                                <div>
                                   
                                        <input type="submit" name="submit-delete"  class="btn btn-primary">
                            
                                        </input>

                                    
                                    <a href="{% url 'user-profile'% }">
                                        <button class="btn btn-primary">
                                            Cancel
                                        </button>

                                    </a>
                                </div>
                    </form>
                    <br>
                    <br>
                    <br>
                    <br>
                    <Br>

                </div>
            </div>

        </div>

        </form>
    </div>
</div>
</div>
</div>
</div>
</div>


{%endblock%}