{% extends 'rootpage.html'%}
{% load static %}
{%block title%}
category
{%endblock%}


{%block content%}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/happypaws.css' %}" />
 
</head>
<div class="row">
  <div class="dropdown">
    <button style="width: 100px; height: 40px;" class="btn btn-secondary dropdown-toggle" type="button"
      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="?sort=low-to-high">Price(low to high)</a>
      <a class="dropdown-item" href="?sort=high-to-low">Price(high to low)</a>
      <a class="dropdown-item" href="?sort=popularity">Popularity</a>
    </div>
  </div>
</div>
<!-- for images -->

<div class="col-lg-12 producthome" style="background-color: white;">
  <!-- New arrivals section-->

  <div class="row prodimages">
    <h4>{{category.name}}</h4>
    {%for product in products%}
    <div class="col-lg-3">
      <div class="card box">
        <a href="{% url 'product' product.id %}"><img class="card-img-top" src="{{product.imageurl}}"
            alt="Card image cap">
        </a>
        <div class="card-body">

          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.price}}</p>
         
          
          <button data-product={{product.id}} data-action="add" class="btn btn-primary update-cart-data">Add to
            cart</button>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{%endblock%}