{% extends 'rootpage.html' %}
{%load static%}


{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'notification.css' %}" />
    <title>Order History</title>
</head>


<!-- for images -->

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-3 notice">
            <div class="mt-3 mb-3">
                <h5>OrderHistory</h5>
            </div>
            <div class="col-sm-10 ">
                {% for orders in order_history %}
                {% for order in orders.orderproduct_set.all %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{order.item.title}}</h5>
                        You had ordered <p class="card-text">{{order.quantity}} {{order.item.title}}</p>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <!-- <a href="{% url 'delete' user.customer.id %}" class="btn btn-danger" role="button">
                                Delete
                            </a> -->
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>


</div>
<!-- Footer -->

<!-- Footer -->
</div>

{% endblock %}