{% extends 'rootpage.html' %}
{% load static %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Responsive Registration Form | CodingLab</title>
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  </style>
</head>

<br>
<br>
<div class="container">
  <div class="container-reg">
    <br>
    <div class="title" style="color: orangered;"><b>Registration</b></div>
    <div class="content pt-5">
      <form action="" method="post">
        {% csrf_token %}

        <div class="user-details">
          <div class="input-box">
            <span class="details"><b>Full name</b></span>
            <input type="text" name="name" placeholder="Enter your Full name" value="{{ request.POST.name }}"  required>
          </div>

          <div class="input-box">
            <span class="details"><b>Email</b></span>
            <input type="text" name="email" placeholder="Enter your email" value="{{ request.POST.email }}" required>
          </div>

          <div class="input-box">
            <span class="details"><b>Phone Number</b></span>
            <input type="text" name="phone" placeholder="Enter your number"  value="{{ request.POST.phone }}"required>
          </div>

          <div class="input-box">
            <span class="details"><b>Username</b></span>
            <input type="text" name="username" placeholder="Enter your Username"   value="{{ request.POST.username }}" required>
          </div>

          <div class="input-box">
            <span class="details"><b>Password</b></span>
            <input type="password" name="password" placeholder="Enter your password" required>
          </div>

          <div class="input-box">
            <span class="details"><b>Confirm Password</b></span>
            <input type="password" name="confirmpassword" placeholder="Confirm your password" required>
          </div>
        </div>

        <div class="button">
          <input type="submit" class="btn btn-primary" style="margin-right: 15px;" value="Register">
          <button class="btn btn-secondary">Cancel</button>
        </div>
        <br>
      </form>

      {% for message in messages %}
      <script>
        var url = '/login/';
        alert('{{message}}');
        if ('{{message}}' == 'Your account has been registered') {
          window.location.href = "{% url 'login' %}";
        }
      </script>
      {% endfor %}
    </div>
  </div>
</div>
<br>
<br>
{% endblock %}
