{% extends 'rootpage.html' %}
{%load static%}


{% block content %}




<div>


    <div class="container-fluid">
        <div class="row">
            <div style="min-height: 100vh;">
                <!-- for images -->
                {%if products%}
                <div class="col-lg-12 producthome" style="background-color: white;">
                    <!-- New arrivals section-->

                    <div class="row prodimages">
                        <h4>Search Results</h4>
                        {% for product in products %}
                        <div class="col-lg-3">

                            <div class="card box">

                                <a href="{% url 'product' product.id %}"><img class="card-img-top"
                                        src="{{product.imageurl}}" alt="Card image cap">
                                </a>
                                <div class="card-body">

                                    <h5 class="card-title">{{product.title}}</h5>
                                    <p class="card-text">{{product.price}}</p>
                                    <button data-product={{product.id}} data-action="add"
                                        class="btn btn-primary update-cart-data">Add to cart</button>

                                </div>


                            </div>


                        </div>


                        {% endfor %}
                    </div>
                </div>

            </div>
            {%else%}
            <p> No Products found</p>
            {%endif%}

        </div>

{% endblock %}