{% extends 'rootpage.html'%}
{% load static %}

{%block content %}
<div>
    <br>
    <h1 style="padding-left: 350px;" id="login-header">
        Update Product
    </h1>

    <div class="addproduct form-group" style="width: 950px;">

        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div style="display: flex; align-items: stretch;">
                <div class="form-group"style="flex: 1;">
                    <label>
                        Name
                    </label>

                    <input id="login-input" class="form-control" type="text" name="title" value={{product.title}} />


                </div>
                <div class="form-group" style="flex: 1;">
                    <label>
                        Price
                    </label>

                    <input id="login-input" class="form-control" type="text" name="price" value={{product.price}} />
                </div>
            </div>
            <div style="display: flex; align-items: stretch;">
                <div class="form-group" style="flex: 1;">
                    <label>
                        Description
                    </label>
    
                    <input id="login-input" class="form-control" type="text" name="description" value={{product.description}} />
                </div>
                <div class="form-group" style="flex: 1;">
                    <label>
                        Image
                    </label>
    
                    {{imageform}}
                </div>
            
            </div>
            <div style="display: flex; align-items: stretch;">
                <div class="form-group" style="flex: 1;">
                    <label>
                        Category
                    </label>
    
                    <select id="login-input" name="category" class="form-control">
                        <option value={{product.category.id}}>{{product.category.name}}</option>
                        {%for i in category%}
                        <option value={{i.id}}>{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" style="flex: 1;">
                    <label>
                        Sub Category
                    </label>
    
                    <select id="login-input" name="subcategory" class="form-control">
                        {%for i in subcategory%}
                        <option value={{i.id}}>{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
               
            
            </div>
            <div style="display: flex; align-items: stretch;">
                <div class="form-group"  style="flex: 1;">
                    <label>
                        Purpose
                    </label>
    
                    <input id="login-input" type="text" name="purpose" value="{{product.purpose}}" class="form-control" />
                </div>
                <div class="form-group"  style="flex: 1;">
                    <label>
                        Color
                    </label>
    
                    <input id="login-input" type="text" name="color" value="{{product.color}}" class="form-control" />
                </div>
            
            </div>
            <div style="display: flex; align-items: stretch;">
                <div class="form-group"  style="flex: 1;">
                    <label>
                        Material
                    </label>
    
                    <input id="login-input" type="text" name="material" value="{{product.material}}" class="form-control" />
                </div>
                <div class="form-group"  style="flex: 1;">
                    <label>
                        Dimensions
                    </label>
    
                    <input id="login-input" type="text" name="dimensions" value="{{product.dimensions}}" class="form-control" />
                </div>
            
            </div>
            <div style="display: flex; align-items: stretch;">
                <div class="form-group" style="flex: 1;">
                    <label>
                        Quantity
                    </label>
    
                    <input id="login-input" type="text" name="stock_quantity" value="{{product.stock_quantity}}" class="form-control" />
                </div>
                <div class="form-group" style="flex: 1;">
                    <label>
                        Type
                    </label>
    
                    <input id="login-input" type="text" name="type" value="{{product.type}}" class="form-control" />
                </div>
                
            
            </div>
         
          
           <br>
           <br>
            <div  class="form-group">
                <input style="width: 100px; margin-left: 215px;" type="submit" name="submit" class="form-control btn btn-primary" />
                <a style="width: 100px; margin-left: 25px;"  class="btn btn-secondary">Cancel</a>
            </div>
        </form>

        </div>
        <br>
        {% endblock %}